@import "tailwindcss";


@utility my-container {
  @apply w-full min-w-[375px] ;
}

@utility link-nav {
  @apply text-lg font-medium text-blue-600 hover:text-yellow-300 font-bold sm:text-xs;
}
@utility my-btn {
  @apply mt-2  border py-2 px-4 bg-neutral-50 rounded-[5px];
}



@layer utilities {
  .text-adapt {
    font-size: clamp(14px, 2vw, 22px);
  }

  .text-title {
    font-weight: bold;
    font-size: clamp(20px, 3.5vw, 30px);
  }

  .adapt-touch {
    transition: transform 0.2s ease-in-out;
  }
    .active-nav {
      opacity: 1;
      left: 0;
    }

  @media (hover: hover) and (pointer: fine) {
    .adapt-touch:hover {
      transform: scale(1.1);
    }
  }

  @media (hover: none) and (pointer: coarse) {
    .adapt-touch:active {
      transform: scale(1.008);
      opacity: 0.5;
    }
  }
}

